<h1>User info</h1>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <%= @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@user, local:true do |f| %>
  <h3>Name</h3>
  <%= f.text_field :name %>
  <h3>Image</h3>
  <%= f.attachment_field :profile_image %>
  <h3>Introduction</h3>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
<% end %>