<h1>Book detail</h1>
 <table>
   <tr>
     <td><%= @book.title %></td>
     <td><%= @book.body %></td>
     <td><%= link_to "Edit", edit_book_path(@book) %></td>
     <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
   </tr>
 </table>


<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>
